@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}
body{
    width: 100dvw;
    overflow-x: hidden;
}

#home{
    background: linear-gradient(100deg, #d7d7d7 50%, #000000 50%);
    height: 80dvh;
    width: 100dvw;
    padding: 3rem 9rem;
    overflow: hidden;
}

#nav{
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo a img {
        width: 4rem;
    }
    #nav-links{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        li{
            list-style: none;
            a{
                color: #d7d7d7;
                text-decoration: none;
            }
        }

        #nav-contact-btn{
            padding: 0.3rem 0.7rem;
            background: #d7d7d7;
            color: #000000;
            border-radius: 2rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}
#desc{
    display: flex;
    justify-content: space-between;
    .text{
        margin-top: 20%;
        h3{
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
        h1{
            font-family: 'Space Grotesk', sans-serif;
            /* text-transform: uppercase; */
            font-size: 3rem;
        }
        h4{
            margin-top: -0.1rem;
            font-size: 1.3rem;
            color: #555555;
        }
    }
}

#company-desc{
    display: flex;
    height: 40dvh;
    background: #000000;
    justify-content: space-between;
    gap: 20rem;
    align-items: center;
    padding: 4rem 9rem;
    color: #d7d7d7;
    .side-img img{
        width: 12rem;
    }
    .main{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        h1{
            font-family: 'Space Grotesk', sans-serif;
            font-size: 2.5rem;
        }
        p{
            font-size: 0.9rem;
            line-height: 1.2rem;
            b{
                font-style: italic;
            }
        }

        button{
            border-top:none;
            border-bottom: none;;
            border-left: 2px solid #d7d7d7;
            border-right: 2px solid #d7d7d7;
            background: none;
            padding: 0.5rem 1rem;
            a{
                text-decoration: none;
                color: #d7d7d7;
                cursor: pointer;
                font-family: 'Space Grotesk', sans-serif;
            }
        }
        
    }
}   
#about-me{
    background: #d7d7d7;
    height: 140dvh;
    padding: 4rem 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    .about-top{
        display: flex;
        flex-direction: column;
        padding: 0rem 3.5rem;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        h1{
            text-transform: uppercase;
            border: 0.3rem solid #000;
            font-size: 3rem;
            font-family: 'Space Grotesk', sans-serif;
            padding: 0.4rem 2rem;
        }

        button{
            border-top:none;
            border-bottom: none;;
            border-left: 0.15rem solid #000;
            border-right: 0.15rem solid #000;
            background: none;
            padding: 0.5rem 1rem;
            a{
                text-decoration: none;
                color: #000;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                font-family: 'Space Grotesk', sans-serif;
            }
        }

    }
    /* .seperator{
        margin-top: 4rem;
    } */
    .about-bottom{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .first{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2rem;
            div{
                position: relative;
                /* border: 1px solid black; */
                padding: 2rem 2rem;
                h3{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-family: 'Space Grotesk', sans-serif;
                }
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
        .second{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 25%;
            div{
                position: relative;
                /* border: 1px solid black; */
                padding: 2rem 2rem;
                h3{
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-family: 'Space Grotesk', sans-serif;
                }
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }
}
#skills{
    height: 180dvh;
    background: #d7d7d7;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap: 3rem;
    padding: 5rem 20rem;
    .head{
        text-transform: uppercase;
        border: 0.3rem solid #000;
        font-size: 3rem;
        font-family: 'Space Grotesk', sans-serif;
        padding: 0.4rem 2rem;
        margin-bottom: 1rem;
    }
    .using-now{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        width: 100%;
        /* border: 1px solid black; */
        gap: 3rem;
        h1{
            font-family: 'Space Grotesk', sans-serif;
            font-size: 2.5rem;
            text-transform: uppercase;
        }
        .holder{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            align-self: center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                /* img{} */
                h3{
                    font-family: 'Saira', sans-serif;
                    font-weight: 300;
                    color: #555555;
                }

            }
        }
    }
    .learning{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        width: 100%;
        /* border: 1px solid black; */
        gap: 3rem;
        h1{
            font-family: 'Space Grotesk', sans-serif;
            font-size: 2.5rem;
            text-transform: uppercase;
        }
        .holder{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
            align-self: center;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                h3{
                    font-family: 'Saira', sans-serif;
                    font-weight: 300;
                    color: #555555;
                }

            }
        }
    }
    
}

#contact{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 20%;
    gap: 2rem;
    .top{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        h1{
            text-transform: uppercase;
            border: 0.3rem solid #000;
            font-size: 3rem;
            font-family: 'Space Grotesk', sans-serif;
            padding: 0.4rem 2rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1rem;
            color: #000;
            text-align: center;
            font-weight: 600;
        }
        i{
            margin-top: -1rem;
        }
    }
    
}